<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>How to use AYMME?</h4>
      <p><strong>Its simple.</strong> In order to use this tool you first need to update your current project with some
        proxy settings.
        You can do this by using the default Angular Proxy configuartion using NPM. Make sure you paste the following
        snippet in the proxy.conf.json file.</p>
      <code><pre innerHTML="{{code}}"></pre>
      <a href="#" (click)="copyCode()" ><i class="far fa-copy"></i></a>
      </code>
      <p></p>
      <p></p>
      <h4>After configuration</h4>
      <p>Head back to this tool and navigation to the <strong>Services</strong> page. You will see the service calls
        made by the running app presented here. Or you can choose to manually refresh the list. Click on a service in order to see the services endpoints.
        Once you selected a endpoint you will be able to adjust the configuration of the endpoint in the panel on the right.
      </p>
    </div>
  </div>
</div>
