
@import '../../styles/partials/vars';

.navbar-container {
  width: 100%;
}

.navbar {
  background-color: $dark;
  border-bottom: 1px solid $grey;
  height: 80px;

  .navbar-brand-text {
    font-size: 18px;
    color: #d3d3d3;
  }

  .navbar-brand-spacer {
    color: $primary-red;
  }

  .nav-link {
    color: white;
    font-size: .9rem;

    &:hover {
      color: darken(white, 20%)
    }
  }

  .navbar-nav {
    text-transform: uppercase;
  }
}
