<ng-container *ngIf="selectedExperienceName$ | async">
  <ng-container *ngIf="selectedExperience$ | async as selectedExperience">


    <div class="container-fluid">
      <div class="row">
        <div class="col-4">

          <header class="aymme-header d-flex align-items-center mb-4">
            <h6 class="mb-0">Experience Details</h6>
            <button class="btn btn-sm mr-3 ml-auto btn-outline-primary" (click)="editExperience()">Edit Host</button>
          </header>
          <!-- <pre>{{services | json}}</pre> -->
          <section class="aymme-border">
            <div class="form-group row no-gutters justify-content-between my-2">
              <label class="col-auto">Portal Name</label>
              <div class="col-9 dark-label">
                {{selectedExperience.name}}
              </div>
            </div>
            <div class="form-group row no-gutters justify-content-between my-2">
              <label class="col-auto">Portal Host</label>
              <div class="col-9 dark-label">
                {{selectedExperience.host}}
              </div>
            </div>
            <div class="form-group row no-gutters justify-content-between mt-2 mb-1">
              <label class="col-auto">Login Url</label>
              <div class="col-9 dark-label">
                {{selectedExperience.loginUrl}}
              </div>
            </div>
          </section>

          <label class="aymme-border mt-3 mb-0">Pages </label>
          <ul class="p-0">
            <li *ngFor="let page of selectedExperience.pages"
              class="d-flex align-items-center aymme-border-item dark-label p-2 pl-4"
              [ngClass]="{'active' : selectedExperience.activePage === page.name}" (click)="selectPage(page)">
              {{page.properties.title}}
            </li>
          </ul>

        </div>

        <div class="col-8 no-relative">
          <section class="aymme-header d-flex align-items-center mb-4">
            <h6 class="mb-0">Experience Model</h6>
          </section>
          <json-editor [options]="options" style="min-height: 1000px;" [data]="body">
          </json-editor>
          <div class="row no-gutters mt-3 justify-content-end">
            <button type="button" class="btn btn-danger px-3 col-auto mr-3" (click)="syncModel()">Sync Remote
              Model</button>
            <button type="button" class="btn btn-primary px-3 col-auto" (click)="updateModel()">Update & Use
              Model</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</ng-container>