.dotted-list {
  border-radius: 2px;
  display: inline-block;
  width: 100%;

  > li {
    background-color: #333;
    border: 1px dashed #555;
    margin-bottom: 20px;
  }

  .dotted-list-header {
    width: 100%;
  }

  .dotted-list-footer {
    border-top: 1px solid #444;
  }

  .is-open {
    .dotted-list-header {
      border-bottom: 1px solid #444;
    }
  }
}
