.modal-content {
    background-color: #333;
}

.modal-header {
    border-bottom: 1px dashed #555;
    color: #888;

}

.modal-footer {
    border-top: 1px dashed #555;
}

.modal-details {
    color: #888;
}