<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <ng-container *ngIf="services$ | async as services">
        <ng-container
          *ngIf="{ hasServices: hasServices$ | async, selectedEndpoint: selectedEndpoint$ | async } as context">
          <section class="services-header d-flex align-items-center mb-4">
            <h6 class="mb-0">Services</h6>
            <form [formGroup]="importServicesForm" class="btn btn-outline-secondary btn-sm btn-file-upload ml-auto b">
              <input formControlName="importFiles" type="file" single accept=".json" (change)="onFileChange($event)">
              <span>Import</span>
            </form>
            <button class="btn btn-sm btn-outline-primary mx-2" (click)="exportServices()">Export</button>
            <span>|</span>
            <a href="#" class="p-1 ml-2" (click)="loadServices(false)"><i class="fas fa-sync-alt"></i></a>
            <a href="#" *ngIf="context.hasServices" class="p-1 ml-2" (click)="toggleAll(services);"><i
                class="fas fa-arrows-alt-v"></i></a>
          </section>
          <!-- <pre>{{services | json}}</pre> -->
          <ul class="services-list p-0" *ngIf="context.hasServices else noServices">
            <li *ngFor="let service of services" class="mb-2" [ngClass]="{'is-open': !service.hidden}">
              <h5 class="d-flex align-items-center" (click)="service.hidden = !service.hidden">{{service.serviceName}}

                <i class="fas fa-trash ml-auto" (click)="openConfirmDeleteService(service, $event)"></i>
                <i class="fas fa-chevron-down ml-3"></i></h5>
              <ul *ngIf="!service.hidden" [@collapseExpand]>
                <li *ngFor="let endpoint of service.endpoints"
                  class="d-flex align-items-center mb-2 show-on-hover-trigger"
                  [ngClass]="{'active' : context.selectedEndpoint ? endpoint.id === context.selectedEndpoint._id : false}">
                  <a (click)="setSelectedEndpoint(endpoint)"
                    class="my-auto">{{customFormat(endpoint.path, service.serviceName)}}</a>

                  <i class="fas fa-trash ml-auto mr-4 show-on-hover-item"
                    (click)="openConfirmDeleteEndpoint(endpoint)"></i>
                </li>
              </ul>
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-6 no-relative">
      <app-details></app-details>
    </div>

    <ng-template #noServices>
      <p>There are currently no services available to display.</p>
    </ng-template>
  </div>
</div>
