<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <ng-container *ngIf="services$ | async as services">
        <ng-container *ngIf="{ hasServices: hasServices$ | async, selectedEndpoint: selectedEndpoint$ | async } as context">
          <section class="d-flex mb-4">
            <h6>Services</h6>
            <a href="#" class="p-2 ml-auto"
            (click)="loadServices()"><i class="fas fa-sync-alt"></i></a>
            <a href="#" *ngIf="context.hasServices" class="p-2 ml-2"
              (click)="toggleAll(services);"><i class="fas fa-arrows-alt-v"></i></a>
          </section>
          <!-- <pre>{{services | json}}</pre> -->
          <ul class="services-list p-0" *ngIf="context.hasServices else noServices">
            <li *ngFor="let service of services" class="mb-2" [ngClass]="{'is-open': service.open}">
              <!-- <i class="material-icons align-middle" (click)="deleteService(service.serviceName)"> delete </i> -->
              <h5 class="d-flex align-items-center" (click)="service.open = !service.open">{{service.serviceName}} <i
                  class="ml-auto fas fa-chevron-down"></i></h5>
              <ul [hidden]="!service.open">
                <li *ngFor="let endpoint of service.endpoints" class="mb-1" [ngClass]="{'active' : context.selectedEndpoint ? endpoint.id === context.selectedEndpoint._id : false}">
                  <a (click)="setSelectedEndpoint(endpoint)"
                    class="my-auto">{{customFormat(endpoint.path, service.serviceName)}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-6">
      <h6>Details</h6>
      <app-details></app-details>
    </div>

    <ng-template #noServices>
      <p>There are currently no services available to display.</p>
    </ng-template>
  </div>
