
<div class="card m-2">
    <div class="card-header">
      <h2>Services</h2>
    </div>
    <div class="m-4">
        <form [formGroup]="specForm">
          <div class="form-group row no-gutters justify-content-between">
            <div class="col">
              <input formControlName="name" type="text" class="form-control" placeholder="Spec Name">
            </div>
            <div class="form-group pl-4 col">
              <button type="button" class="btn btn-primary" (click)="createSpec()">Create Spec</button>
            </div>
          </div>
        </form>
    <div class="card-body">
      <ng-container *ngIf="specs$ | async as specs">
        <ngb-accordion>
          <ngb-panel *ngFor="let spec of specs">
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0 text-uppercase">{{spec.name}}</h5>
                <button ngbPanelToggle class="btn btn-link p-0"><i class="material-icons">expand_more</i></button>
              </div>
            </ng-template>
  
            <ng-template ngbPanelContent>
              <div class="card">
                  <div class="card-body py-0">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item row no-gutters d-flex px-0 justify-content-between" *ngFor="let example of spec.exmpales">
                          {{example.name}}
                        </li>
      
                      </ul>
                    </div>
                <div class="card-footer">
                    <form>
                      <input type="file"  multiple accept=".json" (change)="onFileChange($event)">
                    </form>
                    <button class="btn btn-primary mt-3" (click)="createExamples(spec._id)">Load Mocks</button>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-container>
    </div>
  </div>
</div>

