<form [formGroup]="experienceForm" (ngSubmit)="addExperience()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isEditing ? 'Edit Host' : 'Add Experience'}}</h4>
    <a href="#" class="p-1" (click)="dismissModal()">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="modal-body">
    <div class="row no-gutters mb-3">
      <div class="col-6">
        <label class="col-auto" for="username">Username</label>
        <div class="col">
          <input formControlName="username" type="text" class="form-control"
            placeholder="Username">
        </div>
      </div>
      <div class="col-6">
        <label class="col-auto" for="Password">Password</label>
        <div class="col">
          <input formControlName="password" type="password" class="form-control"
            placeholder="Password">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-auto" for="experienceName">Experience Name</label>
      <div class="col">
        <input formControlName="experienceName" type="text" class="form-control"
          placeholder="e.g. retail-experience, wealth-experience">
      </div>
    </div>
    <div class="form-group">
      <label class="col-auto" for="host">Host Address + Port Number</label>
      <div class="col">
        <input formControlName="host" type="text" class="form-control"
          placeholder="e.g. http://192.168.1.100, https://dev.backbase.com:8080">
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="col-auto" for="portNumber">Host Port Number</label>
      <div class="col">
        <input formControlName="portNumber" type="text" class="form-control" placeholder="e.g. 8080">
      </div>
    </div> -->

    <div class="form-group d-flex align-items-center justify-between">
      <label class="col" for="useIdentity">
        Use Identity
      </label>
      <input class="mr-3" formControlName="useIdentity" type="checkbox" value="" id="defaultCheck1">
    </div>
    <ng-container *ngIf="experienceForm.get('useIdentity').value">
      <div class="form-group">
        <label class="col-auto" for="identityLoginUrl">Identity Login Url</label>
        <div class="col">
          <input formControlName="identityLoginUrl" type="text" class="form-control"
            placeholder="Identity Login Url">
        </div>
      </div>

      <div class="row no-gutters mb-3">
        <div class="col-6">
          <label class="col-auto" for="grant_type">Grant Type</label>
          <div class="col">
            <input formControlName="grant_type" type="text" class="form-control"
              placeholder="Grant Type">
          </div>
        </div>
        <div class="col-6">
          <label class="col-auto" for="client_id">Client id</label>
          <div class="col">
            <input formControlName="client_id" type="text" class="form-control"
              placeholder="Client id">
          </div>
        </div>
      </div>
    </ng-container>
    <div class="form-group">
      <label class="col-auto" for="loginUrl">Host Login URI</label>
      <div class="col">
        <input formControlName="loginUrl" type="text" class="form-control"
          placeholder="e.g. /api/auth/login">
      </div>
    </div>
    <div class="form-group">
      <label class="col-auto" for="modelUrl">Host Model URI</label>
      <div class="col">
        <input formControlName="modelUrl" type="text" class="form-control"
          placeholder="e.g. /api/portal/portals">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary float-right" [disabled]="experienceForm.invalid">
      <span *ngIf="isSyncingExperience$ |async" class="spinner-grow spinner-grow-sm mr-2" role="status"
        aria-hidden="true"></span>
      Sync Model
    </button>
  </div>
</form>