<div class="card m-2">
  <div class="card-header">
    <h2>Services</h2>
  </div>
  <div class="card-body">
    <ng-container *ngIf="services$ | async as services">
      <ul class="list-group">
        <li *ngFor="let service of services"
          class="list-group-item list-group-item-action d-flex justify-content-between">
          <a [routerLink]="['/services', service.serviceName]">{{service.serviceName}}</a>
            <i class="material-icons" (click)="deleteService(service.serviceName)">
              delete
            </i>
        </li>
      </ul>
      <ng-container *ngIf="deleteService$ | async">
      </ng-container>
    </ng-container>
  </div>
</div>
 