.details-component {
  .mocks-area {
    position: absolute;
    top: 90px;
    left: 0;
    height: 100vh;
    width: 50vw;
    overflow-y: scroll;
    z-index: 1000;
    background-color: #333;
    border-right: 1px solid #444;
  }

  .details-header {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
  }

  .headers {
    header {
      cursor: pointer;
      border-bottom: 1px solid #444;
    }
  }

  .badge {
    position: relative;
    top: -5px;
    padding: 6px;
    background-color: #252525;
    border-radius: 10px;
  }
}
