<ng-container *ngIf="endpoint$ | async as endpoint">
  <div class="details-component">
    <div class="d-flex row">
      <div class="col-12">
        <form [formGroup]="form" class="h-100 d-flex flex-column">
          <div class="row form-group">
            <div class="col-4">
              <label for="statusCode">Status Code</label>
              <app-dropdown [defaultHeader]="'Select one'" [items]="responseCodes" [defaultValue]="statusCode"
              (setSelectedValue)="changeStatusCode($event)"></app-dropdown>
            </div>

            <div class="col-4">
              <div class="row no-gutters">
                <label for="delay">Delay</label>
                <input formControlName="delay" type="text" class="form-control col-12" placeholder="Delay">
              </div>
            </div>

            <div class="col-2">
              <div class="row no-gutters">
                <label for="exampleCheck1">Empty</label>
                <input class="col-12 form-control" formControlName="noData" type="checkbox" id="noData">
              </div>
            </div>

            <div class="col-2">
              <div class="row no-gutters">
                <label for="forward">Forward</label>
                <input class="col-12 form-control" formControlName="forward" type="checkbox" id="forward">
              </div>
            </div>
            <div class="col-12">
              <p class="d-flex mt-2 p-0 mb-0 justify-content-between">Headers </p>
              <div formArrayName="headers" class="row no-gutters justify-content-between align-items-end">
                <div class="col-10" *ngFor="let header of form.get('headers').controls; let i = index;">
                  <div [formGroupName]="i" class="row mt-2 no-gutters justify-content-between">
                    <div class="col-6 pr-3">
                      <input class="form-control" formControlName="name" placeholder="Header name">
                    </div>
                    <div class="col-6 pr-3">
                      <input class="form-control" formControlName="value" placeholder="Header value">
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-outline-primary" type="button" (click)="addHeader()">Add Headers</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 mt-3">
        <json-editor [options]="options" style="min-height: 500px;" [data]="endpointData">
        </json-editor>
      </div>

      <div class="col-12 d-flex no-gutters my-2 justify-content-end">
        <!-- <button class="btn py-2 px-4 mr-3 btn-outline-primary" (click)="findMocks()">Feeling lucky</button> -->
        <button class="btn py-2 px-4 mr-3 btn-outline-primary" (click)="toggleMocks()"> Search Mocks</button>
        <button class="btn py-2 px-4 btn-primary" (click)="updateEndpoint(endpoint._id)">Update</button>
      </div>

    </div>

    <ng-container *ngIf="mocksVisible">
      <div class="mocks-area shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2>Mocks</h2>
          <i (click)="toggleMocks()" class="material-icons">close</i>
        </div>
        <div class="">

          <div class="card-body">
            <form class="mb-3">
              <div class="row no-gutters justify-content-between">
                <div class="col">
                  <input [(ngModel)]="searchText" name="spec-name" type="text" class="form-control"
                    placeholder="Spec Name">
                </div>
                <div class="pl-4 col-auto">
                  <button type="button" class="btn btn-primary" (click)="createSpec()">Create Spec</button>
                </div>
              </div>
            </form>

            <ng-container *ngIf="specs$ | async as specs">
              <ngb-accordion activeIds="{{activeId}}">
                <ngb-panel *ngFor="let spec of specs | filter:searchText" id="{{spec._id}}">
                  <ng-template ngbPanelHeader>
                    <div class="d-flex align-items-center justify-content-between">
                      <h5 class="m-0 text-uppercase">{{spec.name}}</h5>
                      <div>
                        <i class="material-icons" (click)="deleteSpecs(spec._id)">delete</i>
                        <button ngbPanelToggle class="btn btn-link p-0"><i
                            class="material-icons">expand_more</i></button>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template ngbPanelContent>
                    <div class="card">
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                          <li (click)="useMocks(example.data)"
                            class="list-group-item row no-gutters d-flex px-0 justify-content-between"
                            *ngFor="let example of spec.exmpales">
                            {{example.name}}
                          </li>
                        </ul>
                      </div>
                      <div class="card-footer d-flex justify-content-between">
                        <form>
                          <input class="form-control-file" type="file" multiple accept=".json"
                            (change)="onFileChange($event)">
                        </form>
                        <button class="btn btn-primary" (click)="createExamples(spec._id)">Upload Mocks</button>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</ng-container>
